{% extends 'feriado/base.html' %}
{% block conteudo %}
    <!--<h1>Feriados</h1> -->
    <div>
      <br>
      <br>
      <br>
      {#{% if object_list %}#}
      <table class="table table-hover table-bordered table-sm table-responsive-sm">
        <thead class="text-center" style="background-color: rgb(185, 185, 185);">
          <tr>
            <th colspan="4">FERIADO{{ object_list|pluralize:'S' }} (E DIAS NÃO ÚTEIS) JÁ CADASTRADOS</th>
          </tr>
          <tr>
            <th width='200'>DATA</th>
            <th>MOTIVO/DESCRIÇÃO</th>
            <th width='148'>AÇÃO</th>
          </tr>
        </thead>
        <tbody style="background-color:beige;">
          {% for feriado in object_list %}
          <tr>
            <td>{{ feriado.data_feriado }}</td>
            <td>{{ feriado.descricao }}</td>
            <td>
              <a href="{% url 'feriado:feriado_delete' feriado.id %}" class="btn btn-danger"><i
                  class="far fa-trash-alt" title="Excluir"></i></a>
              <a href="{% url 'feriado:feriado_update' feriado.id %}" class="btn btn-primary"><i
                  class="far fa-edit"  title="Alterar"></i> </a>
              <a href="{% url 'feriado:feriado_detail' feriado.id %}" class="btn btn-success"><i
                  class="fas fa-search-plus" title="Ver"></i> </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {#{% endif %}#}
      <strong>Total de registros exibidos nesta página:</strong>&nbsp;{{ feriado_list.count }}
      <br>
      <strong>TOTAL GERAL de registros cadastrados:</strong>&nbsp;{{ total_registros }}
       {# .... **Now the pagination section** .... #}
      {% include "feriado/paginacao.html" %}
      <p></p>      
      <a href="{% url 'feriado:feriado_create' %}" class="btn btn-primary">Cadastrar Novo Feriado</a>
    </div> 
{% endblock %}