{% extends 'feriado/base.html' %}
{% load crispy_forms_tags %}
{% block conteudo %}
<div class="d-flex justify-content-center mb-5"></div>
<br>
    <div>
        <div class="card-header" style="background-color: rgb(185, 185, 185);">
            <h4>FERIADO (ou dia não útil)</h4>
        </div>
        <div class="card-body" style="background-color: rgb(153, 182, 236);">
            <form id="formExemplo" data-toggle="validator" role="form" method="post">
                <table class="table-sm table-responsive-sm">
                    {% csrf_token %}
                    {{ form|crispy }}
                </table>
                <button type="submit" class="btn btn-warning">
                    <i class="far fa-save"></i> Salvar</button>
                <a href="javascript:void(0)" onClick="history.go(-1); return false;" 
                    class="btn btn-success"><i class="far fa-window-close"></i> Cancelar</a>       
            </form>
            <!--<div>
               <strong>{{ mensagem|safe }}</strong>
            </div>-->
            <p></p>
            <div class="card-footer" style="background-color:beige;">
                <h5>Observações:</h5>
                <ul>
                    <li>(*) Campos de preenchimento obrigatório.</li>
                    <li>Não é necessário cadastrar sábados e domingos.</li>
                </ul>
            </div>
  </div>
</div>
{% endblock %}

