{% extends 'feriado/base.html' %}
{% load crispy_forms_tags %}
{% block conteudo %}
{# SE A VARIAVEL DE CONTEXT LISTA_DIAS NAO ESTIVER VAZIA A MESMA PAGINA EXIBIRA O RESULTADO DO CALCULO #}
{% if not lista_dias %}
{#{% if form.errors %} ASSIM NAO FUNCIONA#} 
    <div class="starter-template">
      <br>
      <br>
      <br>
      <h2>Calculadora de data de expiração TRT-11</h2>
      <h4>Seja bem-vindo!</h4>
      <p style="margin:0 0 0 0"><strong>({{ acessos }} Acessos)</strong></p>
        <div class="card-body" style="background-color:silver">
            <form id="formCalcular" data-toggle="validator" role="form" method="POST">
                {% csrf_token %}
                {#{{ form.errors }}#}
                {#{{ form.data_ciencia.errors }}#}
                <table class="table-sm table-responsive-sm">
                    {{ form|crispy }}
                </table>
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Calcular Data Expiração</button>
            </form>
        </div>
        <div>(*) Campos de preenchimento obrigatório.</div>
        <br>Para usar a calculadora, siga os seguintes passos:
      
        <ul>
           <li>No formulário acima:
               <ul>
                  <li>Informe a data de ciência;</li>
                  <li>Informe também a quantidade de dias úteis para contagem;</li>
                  <li>Em seguida, clique no botão "Calcular Data Expiração".</li>                   
               </ul>
               <br>
           <li>No menu "Feriado (ou dia não útil)&#9662;":</li>
               <ul>
                  <li>Liste e consulte livremente todos os feriados (e/ou dias considerados não úteis) já cadastrados;</li>
                  <li>Porém, para cadastrar um novo feriado (ou editar) é necessário ser o administrador e efetuar o login;</li>
                  <li>O sistema não permite cadastrar datas correspondentes a sábados e domingos.</li>
               </ul>
        </ul>
    </div>
{% else %}
    <div class="d-flex justify-content-center mb-5"></div>
    <br>
       <div>
           <div class="card-header" style="background-color: rgb(185, 185, 185);">
               <h4>RESULTADO DO CÁLCULO DA DATA DE EXPIRAÇÃO</h4>
           </div>
           <div class="card-body" style="background-color: rgb(197, 248, 190);">
               <p><strong>Data de ciência:</strong> {{ data_ciencia }}</p>
               <p><strong>Quantidade de dias úteis:</strong> {{ qtd_dias }}</p>
               <p><strong>Data útil da expiração*:<span style="color:red"> {{ data_expiracao }}</span></strong></p>
               <p></p>
               <div class="card-footer" style="background-color:beige;">
                   <h5>Considerações:</h5>
                   <ul>
                       <li>(*) Data de expiração calculada com base nos feriados e/ou dias não úteis cadastrados.</li>
                       <li><strong>Período discriminado:</strong></li>
                       <ul>
                           {% for data in lista_dias %}
                           <li>{{ data|safe }}</li> {# html escapado com safe #}
                           {% endfor %}
                       </ul>
                   </ul>
                   <div class="row">
                      <div style="width:19px; height:19px; background-color:red"></div>&nbsp;Dia não útil ou feriado&nbsp;&nbsp;
                      <div style="width:19px; height:19px; background-color:blue"></div>&nbsp;Final de semana&nbsp;&nbsp;
                      <div style="width:19px; height:19px; background-color:black"></div>&nbsp;<strong>Dia útil</strong>
                   </div>
                </div>               
            </div>
       </div>
    </div>
{% endif %}
{% endblock %}
