{% extends 'feriado/base.html' %}
{% block conteudo %}
    <div class="starter-template">
      <br>
      <br>
      <br>
      <h2>Calculadora de data de expiração TRT-11</h2>
      <p class="lead">Seja bem-vindo!
        <br>Para usá-la, acesse o menu acima e suga os seguintes passos:
        <ul>
        <li>Clique no ícone do calendário e informe a data de ciência;</li>
        <li>Informe também a quantidade de dias úteis para contagem;</li>
        <li>Em seguida, clique no botão "Calcular Data Expiração".</li>
        <br>
        <li>Em "Feriados&#9662;":</li>
        <ul>
          <li>Cadastre e edite feriados (e/ou dias considerados não úteis);</li>
          <li>Não é necessário cadastrar datas correspondentes a sábados e domingos.</li>
        </ul>          
        </ul>

      </p>
    </div>
{% endblock %}
